[alias]
	ap = add -p
	a = add
	s = status
	c = commit -v
	b = branch
	o = checkout
	pl = pull
	pu = push
	puf = push --force-with-lease
	fp = fetch -p
	su = submodule update
	rbm = rebase master
	rbc = rebase --continue
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev --date=relative
	d = "!f() { [ \"$GIT_PREFIX\" != \"\" ] && cd "$GIT_PREFIX"; git diff --color $@ | diff-so-fancy | less --tabs=4 -RFX; }; f"
	caf = "!git commit --amend --no-edit; git push --force-with-lease"
[merge]
	conflictstyle = diff3
[push]
	default = simple
[user]
	name = Brian Di Palma
	email = offler@gmail.com
