[alias]
	a = add
	s = status
	c = commit
	b = branch
	o = checkout
	pl = pull
	pu = push
	puf = push --force-with-lease
	fp = fetch -p
	su = submodule update
	rbm = rebase master
	rbc = rebase --continue
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev --date=relative
[merge]
	conflictstyle = diff3
[push]
	default = simple
[user]
	name = Brian Di Palma
	email = offler@gmail.com
