[alias]
	a = add
	s = status
	c = commit
	b = branch
	o = checkout
	pl = pull
	pu = push
	puf = push --force-with-lease
	fp = fetch -p
	su = submodule update
	rbm = rebase master
	rbc = rebase --continue
[merge]
	conflictstyle = diff3
[push]
	default = simple
[user]
	name = Brian Di Palma
	email = offler@gmail.com
